/* Light theme overrides for global layout and social icons */

body.light-theme {
	background: #d0d0d0;
}

body.light-theme .social-link {
	text-shadow: 2px 2px 2px #000;
}

body.light-theme #site-header .theme-icon,
body.light-theme #site-header .language-icon {
	color: #e9e9ba;
}

