#background-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

#background-video video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.25;
}

@media (max-width: 1024px) {
	#background-video {
		top: -4vh;
	}
	#background-video video {
		object-position: center 85%;
	}
}

@media (max-width: 480px) {
	#background-video video {
		transform: translateY(4vh);
	}
}

@media (max-width: 360px) {
	#background-video video {
		transform: translateY(6vh);
	}
}

body.light-theme #background-video {
	opacity: 0;
	pointer-events: none;
}
